@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-6">
            <h2>Login</h2>
            <p><a class="btn btn-primary" href="@Url.Action("Login", "Home")">Login</a></p>
        </section>
        <section class="col-md-6">
            <h2>Login1</h2>
            <p><a class="btn btn-primary" href="@Url.Action("Login1", "Home")">Login</a></p>
        </section>
        <section class="col-md-6">
            <h2>Login2</h2>
            <p><a class="btn btn-primary" href="@Url.Action("Login2", "Home")">Login</a></p>
        </section>
        <section class="col-md-6">
            <h2>Signup</h2>
            <p><a class="btn btn-primary" href="@Url.Action("Signup", "Home")">Signup</a></p>
        </section>
    </div>
</main>
