@{
    ViewData["Title"] = "Bio";
}

<div align="center">
    <h4>
        <a href="/Home/Index">Home</a> |
        <a href="/Home/Education">Education</a> |
        <a href="/Home/Projects">Projects</a> |
        <a href="/Home/Bio">Bio</a> |
        <a href="/Home/PersonalInfo">Personal Info</a>
    </h4>


</div>
<br />
<br />
<div>
    <h5><b><u>Bio</u></b></h5>
   <p> 
     Dedicated and results-oriented [Your Profession/Field] with a proven track record of [mention key accomplishments
    or skills relevant to your profession]. With a strong background in [mention your areas of expertise],
    I bring a unique blend of [mention any unique qualities or skills you possess] to every project I undertake.
    I am highly skilled in [mention specific tools, software, or methodologies relevant to your field] and am committed 
    to delivering high-quality results on time and within budget.
    </p>
</div>
