@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h4>
        <a href="/Home/Index">Home</a> |
        <a href="/Home/Education">Education</a> |
        <a href="/Home/Projects">Projects</a> |
        <a href="/Home/Bio">Bio</a> |
        <a href="/Home/PersonalInfo">Personal Info</a>
    </h4>
    
   
</div>
<br/>
<br/>
<div>
    <h5><b><u>Personal details</u></b></h5>
    <h5>Name : Mahir Mostafa </h5>
    <h5>ID : 20-41870-1 </h5>
    <h5>Email : Mahir@gmail.com </h5>
    <h5>Contact : 0175636799826 </h5>

</div>
