@{
    ViewData["Title"] = "PersonalInfo";
}

<div align="center">
    <h4>
        <a href="/Home/Index">Home</a> |
        <a href="/Home/Education">Education</a> |
        <a href="/Home/Projects">Projects</a> |
        <a href="/Home/Bio">Bio</a> |
        <a href="/Home/PersonalInfo">Personal Info</a>
    </h4>


</div>
<br />
<br />
<div>
    <h5><b><u>Personal Info</u></b></h5>
    <p>Father's Name:Sheikh Monir Hossain</p>
    <p>Mother's Name:MST.Moriam</p>
    <p>Address: Lalbazer,Natore</p>
    <p>Nationality : Bangladeshi</p>
    <p>Religion : Muslim</p>




</div>
