@{
    ViewData["Title"] = "Projects";
}

<div align="center">
    <h4>
        <a href="/Home/Index">Home</a> |
        <a href="/Home/Education">Education</a> |
        <a href="/Home/Projects">Projects</a> |
        <a href="/Home/Bio">Bio</a> |
        <a href="/Home/PersonalInfo">Personal Info</a>
    </h4>


</div>
<br />
<br />
<div>
    <h5><b><u>Projects</u></b></h5>
    <style>
   table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
    <table style="width:50%">

        <tr align="center">
            <th>
                Course
            </th>
            <th>
                Title
            </th>
            <th>
                Desc
            </th>
        </tr>
        <tr align="center">
          <td>
              OOP1
          </td>  
          <td>
              One Time renting 
          </td>
          <td>
              123
          </td>
        </tr>
        <tr align="center">
            <td>
                OOP2
            </td>
            <td>
                Library Management
            </td>
            <td>
                123
            </td>
        </tr>
        <tr align="center">
            <td>
                Web Teach
            </td>
            <td>
                Hospital Management 
            </td>
            <td>
                123
            </td>
        </tr>
       
    </table>

</div>
